* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    overflow: hidden;
}

.cursor {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgba(77, 78, 78, 0.418);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    transform: translate(-50%, -50%);
    z-index: 5;
    pointer-events: none;
    transition: 100ms;
}

.upp_cont {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(240, 19, 11, 0.658), #3b5efbc2), url('../images/lndscp-6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    transition: 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
}

.upp_cont.showStart {
    height: 40vh;
    background-image: linear-gradient(to right bottom, rgba(240, 19, 11, 0.658), #3b5efbc2), url('../images/lndscp-6.jpg');
    background-size: cover;
    pointer-events: none;
}

.upp_cont.showStart .start {
    pointer-events: all;
}

.init-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.init-container h2 {
    color: lightgoldenrodyellow;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.9);
    font-size: 29px;
}

.init-container .choose-player {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 3px;
    color: lightgrey;
}

.choose-player input {
    position: relative;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.6);
    padding: 10px 20px;
    border: none;
    outline: none;
    color: lightgoldenrodyellow;
    transition: 400ms;
    border: 3px solid transparent;
}

.choose-player .playerName0.red {
    border: 3px solid red;
    animation: warning0 .6s ease-in-out forwards infinite;
    transition: 400ms;
}

.choose-player .playerName1.red {
    border: 3px solid red;
    animation: warning1 .6s ease-in-out forwards infinite;
    transition: 400ms;
}

@keyframes warning0 {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    80% {
        transform: scale(1.2);
        opacity:0.4;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes warning1 {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    80% {
        transform: scale(1.2);
        opacity:0.4;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.x {
    position: absolute;
    transform: translate(-80px, -18px);
    transition: 400ms;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.6);
}

.x.right {
    transform: translate(30px, -18px);
}
.x.right:hover {
    transform: translate(30px, -22px);
}

.x:hover {
    transform: translate(-80px, -22px);
    box-shadow: 0px 5px 20px rgba(0,0,0,0.6);
}

.o {
    transition: 400ms;
    position: absolute;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.6);
    transform: translate(30px, -18px);
}

.o.left {
    transform: translate(-80px, -18px);
}
.o.left:hover {
    transform: translate(-80px, -22px);
}
.o:hover {
    transform: translate(30px, -22px);
    box-shadow: 0px 5px 20px rgba(0,0,0,0.6);
} 

.choose-player input:focus {
    transform: translateY(5px);
}

.choose-player .playerName0 {
    position: relative;
    /* background: rgb(3, 138, 161); */
    transform: translateX(0px);
    transition: 400ms ease-in-out;
}

.choose-player .playerName1 {
    /* background: #ff5e4c; */
    transform: translateX(0px);
    transition: 400ms ease-in-out;
}

.choose-player .playerName0.toLeft {
    transform: translateX(-600px);
}

.choose-player .playerName1.toRight {
    transform: translateX(600px);
}

::placeholder {
    opacity: 0.6;
    color: lightgoldenrodyellow;
}

.init-container .input-group {
    z-index: 2;
}

.init-container button {
    padding: 10px 20px;
    font-size: 20px;
    transition: 300ms;
    color: lightcyan;
}
.start {
    outline: none;
    border: none;
    border-radius: 4px;
    transition: 400ms;
    background: rgb(68, 0, 255);
}

button.unactive {
    outline: none;
    border: none;
    border-radius: 4px;
    background: #ff5e4c;
}

button.active {
    outline: none;
    border: none;
    border-radius: 4px;
    background: #2797A7;
}

/* Bottom Container Section */


.low_cont {
    position: relative;
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 6;
}

.low_cont .details {
    width: 100%;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    color: lightgoldenrodyellow;
    background: rgb(250, 247, 247);
    padding: 10px 20px;
}

.low_cont .details .player {
    text-transform: capitalize;
}

.details p {
    padding: 10px 20px;
}

.restart {
    position: absolute;
    right: 250px;
    transition: all 400ms;
    background: #fbb03b;
    border-radius: 4px;
    color: #2797A7;
    font-weight: 500;
    font-size: 20px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    opacity: 1; 
    visibility: visible; 
    pointer-events: all;
}

.restart p {
    padding: 10px 40px;
}

.active {
    background: #2797A7 !important;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.unactive {
    background: #ff5e4c !important; 
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.container {
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    z-index: 100;
}

.winner {
    display: block;
    color: rgb(119, 0, 255);
    font-weight: bold;
    font-size: 24px;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.winner.anim {
    animation: winning-moment .7s ease-in-out forwards;
}

@keyframes winning-moment {
    0% {
        transform: scale(0.4);
        opacity: 0.7;
    }
    80%  {
        transform: scale(1.2);
        opacity: 0.4;    
    }
    100%  {
        transform: scale(1);
        opacity: 1;    
    }
}

.hide {
    display: none;
}

.disable {
    pointer-events: none;
    background: lightgrey;
    transition: 300ms;
    font-size: 10px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.5) inset;
}

.winner-bg {
    transition: 400ms;
    background: #82d851;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.7);
}

.container .box {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(46, 13, 231, 0.767);
    font-size: 34px;
}

.container .box-1 {
    border-right: 1px solid #2797A7;
    border-bottom: 1px solid #2797A7;
}

.container .box-2 {
    border-bottom: 1px solid #2797A7;
}

.container .box-3 {
    border-left: 1px solid #2797A7;
    border-bottom: 1px solid #2797A7;
    
}
.container .box-4 {
    border-right: 1px solid #2797A7;
}

.container .box-6 {
    border-left: 1px solid #2797A7;
}

.container .box-7 {
    border-right: 1px solid #2797A7;
    border-top: 1px solid #2797A7;
}

.container .box-8 {
    border-top: 1px solid #2797A7;
}

.container .box-9 {
    border-left: 1px solid #2797A7;
    border-top: 1px solid #2797A7;
}

/********************************
************* Scores ************ 
********************************/

.scores {
    position: absolute;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: -2;
}

.score {
    width: 100px;
    height: 100px;
    border-bottom: 4px solid;
    border-radius: 2px;
    background: transparent !important;
}

.score p {
    line-height: 100px;
    text-align: center;
    font-size: 44px;
}

/********************************
************* Coin ************ 
********************************/

.coin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;  
    display: block;
    margin: 0 auto;
    perspective: 1000px;
    z-index: 10000;
    background: rgba(0,0,0,0.8);
    transition: 400ms;
    opacity: 1;
    visibility: visible;
}

.coin_winner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    opacity: 1;
    visibility: visible;
    transition: 400ms ease-in 400ms;
}

.coin_winner p {
    font-size: 35px;
    color: #fff;
    white-space: nowrap;
}

.coinWinner {
    text-transform: capitalize;
    font-weight: 700;
    background: none !important;
}

.coinWinner.active {
    color: #2797A7;
}

.coinWinner.active {
    color: #ff5e4c;
}

.coin_details{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    visibility: visible;
}

.coin_content {
    font-size: 24px;
    color: #fff;
}

.playerCoin {
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 800;
    font-family: cursive;
}

.playerCoin.active {
    color: #2797A7;
    background: none !important;
}

.playerCoin.unactive {
    color: #ff5e4c;
    background: none !important;
}



.coin_choices {
    position: absolute;
    bottom: 7%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    visibility: visible;
}

.coin_choices button {
    background: darkgoldenrod;
}







.coin_front {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 800ms;
    transform: translate(-50%, -50%) rotateY(0deg);
    backface-visibility: hidden;
    opacity: 1;
    visibility: visible;
}
.coin_back {
    width: 300px;
    height: 300px;
    transition: 800ms;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(-180deg);
    backface-visibility: hidden;
    opacity: 1;
    visibility: visible;
}

.flipBtn {
    transition: 400ms;
    outline: none;
    border: none;
    border-radius: 4px;
    transition: 400ms;
    background: #008cff;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    visibility: visible;
}

.flipBtn:hover {cursor: pointer; transform: translate(-50%, -3px); box-shadow: 0px 5px 20px rgba(0,0,0,0.6);}

.flipBtn:active {box-shadow: 0px 2px 10px rgba(0,0,0,0.2); transform: translate(-50%, -1px);}

.close_coin {font-size: 30px; font-weight: bold; color: #008cff; position: absolute; top: 60px; right: 100px; cursor: pointer}

.coin img{
    width: 300px;
    height: 300px;
}

.upp_cont.upp_cont.showStart .flipChoice {
    opacity: 0;
    visibility: hidden;
}

.flipChoice {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    visibility: visible;
}

.flipOption {
    outline: none;
    border: none;
    border-radius: 4px;
    transition: 400ms;
    background: #008cff;
}

@keyframes coinFlip {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(14400deg);
    }
}


/* Reusable Classes
 */


.mt {margin-top: 35px;}
.ml {margin-left: 35px;}
.mr {margin-right: 35px;}
.mb {margin-bottom: 35px;}
.mbl {margin-bottom: 105px;}
.mtl {margin-top: 105px;}
.mll {margin-left: 105px;}
.mrl {margin-right: 105px;}


.hvr:hover {cursor: pointer; transform: translateY(-3px); box-shadow: 0px 5px 20px rgba(0,0,0,0.6);}

.hvr:active {box-shadow: 0px 2px 10px rgba(0,0,0,0.2); transform: translateY(-1px);}

.trans {transition: 400ms;}

.trans_hide {opacity: 0; visibility: hidden; pointer-events: none; transition: 400ms;}

.curs_none {cursor: none;}

.score.active {border-color: #2797A7; color: #2797A7; padding: 0; background: none;}

.score.unactive {border-color: #ff5e4c; color: #ff5e4c; padding: 0; background: none;}

.blur {filter: blur(4px);}

button{outline: none; font-size: 18px; border: none; background: none; border-radius: 4px; transition: 400ms; padding: 10px 40px;}

.bg-0 {background-color: #ff4800;}
.bg-1 {background-color: #eeff00;}
.bg-2 {background-color: #3dd616;}
.bg-3 {background-color: #10d177;}
.bg-4 {background-color: #1b6fce;}
.bg-5 {background-color: #2225ca;}
.bg-6 {background-color: #5714c2;}
.bg-7 {background-color: #b517ca;}
.bg-8 {background-color: #d80c0c;}
.bg-9 {background-color: #424747;}
.bg-10 {background-color: #b65c39;}
.bg-11 {background-color: #727911;}
.bg-12 {background-color: #2a4723;}
.bg-13 {background-color: #124e32;}
.bg-14 {background-color: #142f4e;}
.bg-15 {background-color: #181966;}
.bg-16 {background-color: #2a0f57;}
.bg-17 {background-color: #501258;}
.bg-18 {background-color: #581515;}
.bg-19 {background-color: #193838;}